<div nz-row>
  <div nz-col nzSpan="12" nzOffset="6">
    <nz-card nzTitle="Thông tin bài thi">
      <div nz-row>
        <div nz-col>
          <b>Tên kỳ thi</b>: {{examInfo?.ExamName}}
        </div>
      </div>
      <div nz-row>
        <div nz-col>
          <b>Thời gian tạo</b>: {{examInfo?.ThoiGianTao}}
        </div>
      </div>
      <div nz-row>
        <div nz-col>
          <b>Tình trạng</b>: {{examInfo?.TinhTrangLamBai}}
        </div>
      </div>
      <div nz-row>
        <div nz-col>
          <b>Tổng số câu hỏi</b>: {{examInfo?.TongSoCau}}
        </div>
      </div>
      <div nz-row *ngIf="examInfo?.TestStatus===3">
        <div nz-col>
          <b>Số câu đúng</b>: {{examInfo?.SoCauDung}}
        </div>
      </div>
      <nz-divider nzDashed></nz-divider>
      <div nz-row *ngIf="examInfo?.TestStatus<=1">
        <div nz-col>
          <button nz-button nzType="primary" [nzLoading]="loading" (click)="startExam()">
            Bắt đầu làm bài
            <i class="anticon anticon-right"></i>
          </button>
        </div>
      </div>
    </nz-card>
  </div>
</div>
