<nz-card nzTitle="Thông tin thí sinh">
  <div nz-row>
    <div nz-col nzSpan="12">
      <ul>
        <li>
          <b>ID</b>: {{userInfo?.id}}</li>
        <li>
          <b>Họ tên</b>: {{userInfo?.TenSV}}</li>
        <li>
          <b>Ngày sinh</b>: {{userInfo?.NgaySinh}}</li>
        <li>
          <b>Địa chỉ</b>: {{userInfo?.DiaChi}}</li>
        <li>
          <b>Điện thoại</b>: {{userInfo?.DienThoai}}</li>
        <li>
          <b>CMND</b>: {{userInfo?.CMND}}</li>
        <li>
          <b>Email</b>: {{userInfo?.Email}}</li>
        <li>
          <b>Khối dự thi</b>: {{userInfo?.TenKhoi}}</li>
        <li>
          <b>Nơi dự tuyển</b>: {{userInfo?.NoiDuTuyen}}</li>
      </ul>
    </div>
    <div nz-col nzSpan="12">
      <button nz-button nzType="primary" (click)="newExam()" [nzLoading]="dangTaobaiThi">
        <i class="anticon anticon-play-circle-o"></i>Làm bải thi mới</button>
      <br/>
      <br/>
      <button nz-button nzType="dashed" (click)="logOut()">
        <i class="anticon anticon-logout"></i>Đăng xuât</button>
    </div>
  </div>

  <nz-table #resultTable [nzData]="dataResult" nzBordered [nzHideOnSinglePage]="true" nzFooter="Tổng số lần thi: {{dataResult.length}}"
    nzTitle="Lịch sử dự thi" [nzLoading]="loading">
    <thead>
      <tr>
        <th>Kì thi</th>
        <th>Tổng số câu</th>
        <th>Số câu đúng</th>
        <th>Điểm</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of resultTable.data">
        <td>{{data.ExamName}}</td>
        <td>{{data.TongSoCau}}</td>
        <td>{{data.SoCauDung}}</td>
        <td>
          {{data.Mark}}
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
