/* :host ::ng-deep .ant-list-item-meta-content,
:host ::ng-deep .ant-list-item-meta {
  max-width: 100%;
} */

:host ::ng-deep .ant-card-head-title,
:host ::ng-deep .ant-card-meta-title {
  white-space: unset;
}

:host ::ng-deep .ant-radio-wrapper {
  min-height: 30px;
  height: auto !important;
  padding: 2px 5px;
}

:host ::ng-deep .ant-radio,
:host ::ng-deep .ant-radio-wrapper {
  white-space: unset;
}

:host ::ng-deep .ant-radio-wrapper-checked {
  background-color:#1890ff;
  color: #fff;
}
