<nz-back-top></nz-back-top>
<div nz-row *ngIf="!dataloading">
  <ng-template #indicatorTemplate>
    <nz-affix>
      <nz-alert nzType="warning" nzShowIcon nzMessage="Thông báo" nzBanner [nzDescription]="warningMessage">
        <ng-template #warningMessage>
          <i class="anticon anticon-spin anticon-loading" style="font-size: 24px;"></i>
          {{warningMessageText}}
        </ng-template>
      </nz-alert>
    </nz-affix>
  </ng-template>
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" [nzIndicator]="indicatorTemplate">
    <!-- <div nz-col nzSpan="6">
      <app-leo-quiz-info [data]="data?.questions"></app-leo-quiz-info>
    </div> -->
    <div nz-col nzSpan="24">
      <!-- <nz-affix [nzOffsetTop]="20">
        <div style="text-align: right;">
          <button nz-button nzType="primary">
            Thời gian:
            <app-leo-timer-countdown [seconds]="timeRemain" (onFinish)="onFinished(1)" (onTick)="onTick($event)"></app-leo-timer-countdown>
          </button>
        </div>
      </nz-affix> -->
      <nz-list [nzDataSource]="filteredQuestions" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
        <ng-template #item let-item>
          <nz-list-item id="q_{{item.id}}">
            <nz-list-item-meta [nzDescription]="tempOption">
              <ng-template #tempOption>
                <nz-card>
                  <nz-card-meta [nzDescription]="tempAnwser">
                    <ng-template #tempAnwser>
                      <div style="text-align: right;">
                        <button nz-button nzType="primary">
                          Thời gian:
                          <app-leo-timer-countdown [seconds]="item?.timeVisible" (onFinish)="onFinishedQuestion(pager.index)" (onTick)="onTick($event)"></app-leo-timer-countdown>
                        </button>
                      </div>
                      <span>
                        <i class="anticon anticon-question-circle-o" style="color: red;"></i> Câu hỏi số {{pager.index + 1}} / {{pager.count}}</span>
                      <h3>
                        <p [innerHTML]="decodeQuestion(item.name)"></p>
                      </h3>
                      <nz-radio-group [(ngModel)]="item.answered" (ngModelChange)="onSelect(item);">
                        <label nz-radio [ngStyle]="style" nzValue="{{option?.answerNumber}}" *ngFor="let option of item?.options">{{option?.name}}</label>
                      </nz-radio-group>
                    </ng-template>
                  </nz-card-meta>
                </nz-card>
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
      </nz-list>
      <nz-button-group>
        <button nz-button nzType="primary" (click)="goTo(pager.index + 1);">
          Câu tiếp theo
          <i class="anticon anticon-right"></i>
        </button>
        <button nz-button nzType="primary" (click)="onFinished(0)">
          Nộp bài thi
          <i class="anticon anticon-rocket"></i>
        </button>
      </nz-button-group>

    </div>
  </nz-spin>
</div>
