<div nz-row>
  <div nz-col nzSpan="6">
    <a href="http://vbpl.vn" target="_blank">
      <img src="./assets/img/vbpl.png">
    </a>
  </div>
  <div nz-col nzSpan="6">
    <a href="http://hdpl.moj.gov.vn" target="_blank">
      <img src="./assets/img/hdpl.png">
    </a>
  </div>
  <div nz-col nzSpan="6">
    <a href="http://csdl.thutuchanhchinh.vn" target="_blank">
      <img src="./assets/img/tthc.png">
    </a>
  </div>
  <div nz-col nzSpan="6">
    <a href="http://moj.gov.vn" target="_blank">
      <img src="./assets/img/moj.png">
    </a>
  </div>
</div>
