<div nz-row>
  <div nz-col nzSpan="16" nzOffset="4">
    <form nz-form [formGroup]="regForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="hoten" nzRequired>Họ và tên</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="hoten" formControlName="hoten">
          <nz-form-explain *ngIf="regForm.get('hoten').dirty && regForm.get('hoten').errors">Vui lòng nhập đầy đủ họ tên!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Ngày tháng năm sinh</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-date-picker formControlName="ngaysinh"></nz-date-picker>
          <nz-form-explain *ngIf="regForm.get('ngaysinh').dirty && regForm.get('ngaysinh').errors">Vui lòng nhập ngày tháng năm sinh!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="email" id="email">
          <nz-form-explain *ngIf="regForm.get('email').dirty && regForm.get('email').errors">Vui lòng nhập địa chỉ email để nhận thông báo!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cmnd" nzRequired>Số CMND</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="cmnd" formControlName="cmnd">
          <nz-form-explain *ngIf="regForm.get('cmnd').dirty && regForm.get('cmnd').errors">Vui lòng nhập đúng số chứng minh nhân dân!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sodt" nzRequired>Số điện thoại</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="regForm.controls['sodt']">
          <input formControlName="sodt" id="'sodt'" nz-input>
          <nz-form-explain *ngIf="regForm.get('sodt').dirty && regForm.get('sodt').errors">Vui lòng nhập đúng số điện thoại của bạn!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Địa chỉ</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea formControlName="diachi" nz-input rows="2" placeholder="Địa chỉ nơi cư trú hoặc tên trường học, cơ quan, đơn vị"></textarea>
          <nz-form-explain *ngIf="regForm.get('diachi').dirty && regForm.get('diachi').hasError('required')">Vui lòng nhập địa chỉ!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="khoi" nzRequired>Khối dự thi</nz-form-label>
        <nz-form-control [nzSpan]="5">
          <nz-select id="khoi" formControlName="khoi" nzPlaceHolder="Chọn khối dự thi" (ngModelChange)="khoiChange($event)">
            <nz-option [nzValue]="kh.KhoiID" [nzLabel]="kh.TenKhoi" *ngFor="let kh of dsKhoi"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="regForm.get('khoi').dirty && regForm.get('khoi').errors">Vui lòng chọn khối dự thi!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cap" nzRequired>Cấp dự thi</nz-form-label>
        <nz-form-control [nzSpan]="5">
          <nz-select id="cap" formControlName="cap" nzPlaceHolder="Chọn cấp dự thi" (ngModelChange)="capChange($event)" [nzDisabled]="!(dsCap.length>0)">
            <nz-option [nzValue]="c.CapID" [nzLabel]="c.TenCap" *ngFor="let c of dsCap"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="regForm.get('cap').dirty && regForm.get('cap').errors">Vui lòng chọn cấp dự thi!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="donvi" nzRequired>Đơn vị dự thi</nz-form-label>
        <nz-form-control [nzSpan]="7">
          <nz-select id="donvi" formControlName="donvi" nzPlaceHolder="Chọn đơn vị dự thi" (ngModelChange)="donviChange($event)" [nzDisabled]="!(dsDonVi.length>0)">
            <nz-option [nzValue]="d.DonViID" [nzLabel]="d.TenDonVi" *ngFor="let d of dsDonVi"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="regForm.get('donvi').dirty && regForm.get('donvi').errors">Vui lòng chọn đơn vị dự thi!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="coquan">Cơ quan dự thi</nz-form-label>
        <nz-form-control [nzSpan]="7">
          <nz-select id="coquan" formControlName="coquan" nzPlaceHolder="Chọn cơ quan dự thi" (ngModelChange)="coquanChange($event)" [nzDisabled]="!(dsCoQuan.length>0)">
            <nz-option [nzValue]="cq.CoQuanID" [nzLabel]="cq.TenCoQuan" *ngFor="let cq of dsCoQuan"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="regForm.get('coquan').dirty && regForm.get('coquan').errors">Vui lòng chọn cơ quan dự thi!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="xa">Xã</nz-form-label>
        <nz-form-control [nzSpan]="7">
          <nz-select id="xa" formControlName="xa" nzPlaceHolder="Chọn xã dự thi" [nzDisabled]="!(dsXa.length>0)">
            <nz-option [nzValue]="x.XaID" [nzLabel]="x.TenXa" *ngFor="let x of dsXa"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="regForm.get('xa').dirty && regForm.get('xa').errors">Vui lòng chọn xã dự thi!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <!-- <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Mật khẩu</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()">
          <nz-form-explain *ngIf="regForm.get('password').dirty && regForm.get('password').errors">Vui lòng nhập mật khẩu đăng nhập!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Xác nhận mật khẩu</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input type="password" formControlName="checkPassword" id="checkPassword">
          <nz-form-explain *ngIf="regForm.get('checkPassword').dirty && regForm.get('checkPassword').errors">
            <ng-container *ngIf="regForm.get('checkPassword').hasError('required')">
              Vui lòng xác nhận lại mật khẩu đăng nhập!
            </ng-container>
            <ng-container *ngIf="regForm.get('checkPassword').hasError('confirm')">
              Mật khẩu bạn nhập không trùng khớp!
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item> -->

      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="16" [nzOffset]="4">
          <label nz-checkbox formControlName="agree">
            <span>Tôi xác nhận rằng những thông tin khai báo trên đây là chính xác, nếu sai tôi xin chịu hoàn toàn trách nhiệm
            </span>
          </label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary" [disabled]="!regForm.valid || regForm.get('agree').value===false" [nzLoading]="isSubmitting">Đăng ký</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
